@use "../../../variables.scss" as s;

.container {
  height: fit-content;
  width: fit-content;
  min-width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.label {
  font-size: 16px;
  color: s.$grey-0;
  font-weight: 200;
  cursor: pointer;
}
