@import "./main.scss";

.container {
  width: 500px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  &Open {
    z-index: 3;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      bottom: -6px;
      left: 4px;
      width: 98%;
      height: 70%;
      background: $grey-4;
      border: 1px solid $grey-1;
      box-shadow: 0 2px 4px $grey-2;
      z-index: -5;
    }

    &::after {
      content: "";
      position: absolute;
      bottom: -12px;
      left: 8px;
      width: 96%;
      height: 70%;
      background: $grey-3;
      border: 1px solid $grey-1;
      box-shadow: 0 2px 4px $grey-2;
      z-index: -6;
    }
  }
}
